
body{
    padding: 0px;
    margin: 0px;
}
nav {
    background-color:#0077b6;
    color: #fff;
    padding: 15px 20px;
    text-align: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; 
    padding: 5px  10px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}
.center {
    text-align: center;
    margin-top: 25px; /* Adjust the top margin as needed */
}
.attractive-heading {
    /* font-family: 'Arial', sans-serif; Example font family */
    font-size: 48px; /* Example font size */
    color: #0077b6; /* Example color */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Example text shadow */
    /* letter-spacing: 2px; Example letter spacing */
}
.diabetes-info {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    color:black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.symptoms-info {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    color:black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.symptoms-info {
    text-align: center;
}


form{
    display: flex;
    /* wi; */
    max-width: 1200px;
}
.first{
position: relative;
/* left:0; */
/* border-top-left-radius:3%;
border-bottom-left-radius: 3%; */
}
.second{
position: absolute;
margin-left: -18%;
margin-top: 9%;

width:250px;
}
.details{
text-align: center;
font-size: 25px;
/* margin:1%; */
margin-bottom: 2%;
}
.container2{
    /* margin-left: 200px; */
    /* text-align: center; */
    /* justify-content: space-between ; */
    margin: 50px;
    
background-color:#f9f9f9  ;
/* width:100%; */
max-width: 1200px;
display: block;
border-radius: 10px;
/* border-top-right-radius: 3%;
border-bottom-right-radius: 3%; */
}
.container1{
display: flex;
margin-left: 4%;


}
.container {
font-size: 20px;
color:black


}
.container3{
display: flex;
}
.container{
display: block;

}
input[type="text"],
[type="number"],
[type="textarea"],
[type="date"]

{   border: none;
font-size:16px;
background-color: #f9f9f9;
border-radius: 10px;
border:0.5px solid grey;
color:black;
margin-left: 1%;
padding:7px;
}
#ho{
margin-left: 25%;
color: black;
margin-top: 30px;
}
#hi{
    margin-left: 16%;
    color: black;
    margin-top: 30px;
}

#he{
    margin-left: -5%;
    color: black;
    margin-top: 30px;
}

#hh{
    margin-left: -5%;
    color: black;
    margin-top: 30px;
}


.age1{
margin-left:  32%;
color: black;
}

.submit{

padding:8px;
font-size: 20px;
border-radius: 8px;
border: none;  
color: white;
background-color:#0077b6;
}
.sub{
margin-top: 5%;
display: flex;
margin-bottom: 10px;
justify-content: center;
align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.submit:hover{
background-color: #0077b6;
cursor: pointer;
}
/* .Heart-form{ */
/* height: 600px; */
/* width: 1000px; */
/* max-width: 1200px; */
/* background: transparent;
border-radius: 10px;
box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
                15px 15px 15px rgba(0,0,0,0.1),
                inset -5px -5px 5px rgba(255,255,255,0.2),
                inset 5px 5px 5px rgba(0,0,0,0.1);
} */
.label{
color: black;
}
.Heart-form{
    margin:0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 20px;     
    line-height: 1.6;
    color:black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.adi{
    max-width: 1200px;
    margin-left: 170px;
}


footer {
    background-color: #0077b6;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.copyright {
    font-size: 14px;
  color:#666;
}
