<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Vision</title>
    <link rel="icon"  href="../static/pictures/doc.jpg">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">AI Vision</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#services">Sevices</a></li>
                <li><a href="#">Diseases</a></li>
                <li><a href="/symptom">
                    Symptoms
                </a></li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="main">
            <div class="text">
                <h1 class="wel">Welcome to AIVision<br>We Available All Time For You</h1>
                <h1 class="cr">Caring for You, Beyond the Ordinary:<br>AIVision - Committed to Your Wellbeing</h1>
            </div>
            <div class="photo">
                <img src="../static/pictures/doctor.jpg">
            </div>
        </div>
    </header>
    <section>
        <h1>Our Services</h1>
        <div class="service" id="services">
            <div class="diabetes">
                <a href="/diabetes">

                    <img src="../static/pictures/diabetis.jpg" alt="Lungs Icon">
                    <p>DIABETES TEST</p>
                </a>
            </div>
            <div class="covid">
                <a href="/covid_symp">
                    <img src="../static/pictures/covid.jpg" alt="Lungs Icon">
                    <p>COVID TEST</p>
                </a>
            </div>
            <div class="lungs">
                <a href="/lung_symp">
                    <img src="../static/pictures/lungs.jpg" alt="Lungs Icon">
                    <p>LUNGS TEST</p>
                </a>
            </div>
            <div class="heart">
                <a href="/heart">

                    <img src="../static/pictures/heart.jpg" alt="Lungs Icon">
                    <p>HEART TEST</p>
                </a>
            </div>
        </div>
        <div class="about">
            <h1>About AIVision</h1>
            <div class="pama">
                <div class="ma">
                    <p>Welcome To AIVision, Where Large Datasets And State-Of-The-Art of Machine Learning Combine To Deliver Health Insights With Unmatched Accuracy. Our Platform Analyzes Large Amounts Of Medical Data Using Cutting-Edge Algorithms To Provide Accurate Findings That Are Customized To Your Needs. Personalized Suggestions, Predictive Analytics, Or Thorough Health Assessments—AIVision Equips You With The Information You Need To Make Wise Decisions Regarding Your Health. We Currently Cover COVID-19, Diabetes, Heart Disease, And Lung Cancer As Our Four Main Ailments. We're Committed To Using Cutting-Edge Technology To Change Healthcare By Utilizing The Power Of Data-Driven Solutions. Experience The Power Of Data-Driven Solutions With HealthSync Today And Join Us At The Forefront Of Healthcare Innovation.<p>
                </div>
                <div class="pa">
                    <p>Key Features:-</p>
                    <ul>
                        <li>Direct Disease Detection</li>
                        <li>High Accuracy</li>
                        <li>Symptom-Less Detection</li>
                        <li>Accessible Healthcare</li>
                        <li>Personalized Reports</li>
                        <li>Community Impact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="social-icons">
                <a href="https://www.facebook.com/YourPage" target="_blank"><img src="../static/pictures/facebook.jpg" alt="Facebook"></a>
                <a href="https://www.linkedin.com/company/your-company" target="_blank"><img src="../static/pictures/linkedin.jpg" alt="LinkedIn"></a>
                <a href="https://twitter.com/YourTwitterHandle" target="_blank"><img src="../static/pictures/x.jpg" alt="Twitter"></a>
            </div>
        </div>
        <div class="copyright">
            <p style="color: white;">&copy; 2024 AIVision. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>