<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms</title>
    <!-- <link rel="icon"  href="/pictures/web_logo.png"> -->
    <link rel="stylesheet" href="/static/css/sympcss.css">
    <link rel="icon"  href="../static/pictures/doc.jpg">


</head>
<body>
    <nav>
        <div>
            <span style="font-weight: bold; font-size: 20px;">AI Vision</span>
        </div>
        <div>
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Diseases</a>
            <a href="#">Symptoms</a>
        </div>
    </nav>
    <h1 class="center attractive-heading">Symptoms of Heart Diseases </h1>
    <div class="symptoms-info">    
        Chest pain or discomfort
        <br>
        Shortness of breath
        <br>
        Fatigue
        <br>
        Palpitations
        <br>
        Dizziness or lightheadedness
        <br>
        Swelling (edema)
        <br>
        Nausea or indigestion
        <br>
        Cold sweats
        <br>
    </div>
    <h1 class="center attractive-heading">Symptoms of Lungs Diseases </h1>
    <div class="symptoms-info">    
        Chest pain or discomfort
        <br>
        Shortness of breath
        <br>
        Fatigue
        <br>
        Palpitations
        <br>
        Dizziness or lightheadedness
        <br>
        Swelling (edema)
        <br>
        Nausea or indigestion
        <br>
        Cold sweats
        <br>
    </div>
    <h1 class="center attractive-heading">Symptoms of Diebetes Diseases </h1>
    <div class="symptoms-info">    
        Extreme thirst
        <br>
        Frequent urination
        <br>
        Blurry vision
        <br>
        Extreme hunger
        <br>
        Increased tiredness
        <br>
        Unusual weight loss
        <br>
    </div>  
    <h1 class="center attractive-heading">Symptoms of Covid Diseases </h1>
    <div class="symptoms-info">    
        Chest pain or discomfort
        <br>
        Shortness of breath
        <br>
        Fatigue
        <br>
        Palpitations
        <br>
        Dizziness or lightheadedness
        <br>
        Swelling (edema)
        <br>
        Nausea or indigestion
        <br>
        Cold sweats
        <br>
    </div>
    <footer>
        <div class="footer-container">
            <div class="social-icons">
                <a href="https://www.facebook.com/YourPage" target="_blank"><img src="../static/pictures/facebook.jpg" alt="Facebook"></a>
                <a href="https://www.linkedin.com/company/your-company" target="_blank"><img src="../static/pictures/linkedin.jpg" alt="LinkedIn"></a>
                <a href="https://twitter.com/YourTwitterHandle" target="_blank"><img src="../static/pictures/x.jpg" alt="Twitter"></a>
            </div>
        </div>
        <div class="copyright">
            <p style="color: white;">&copy; 2024 AIVision. All rights reserved.</p>
        </div>
    </footer>      
</body>
</html>